old/
.DS_Store
scraping_ca_encyclop/article.csv
scraping_ca_encyclop/encyclop_log.log
scraping_ca_encyclop/set_total_links.pkl


# Python
*.pyc
*.egg-info/
.vscode/
__pycache__/**/*.pyc
__pycache__/
.DS_Store
/**/*.log